p#pogrubienie_yaremenko{
font-size: 34px;
color: #865CCC;
}
p#pochylona_yaremenko{
    font-size: 39pt;
    color: #EAC068;

}
p#index_gorny_yaremenko{
    font-size: 1.4cm;
    color: #9A8E18;

}
p#index_dolny_yaremenko{
    font-size: 2.3cm;
    color: maroon;

}
p#mono_yaremenko{
    font-size: 44px;
    color: #26DE68;

}
p#powiekszenie_yaremenko{
    color: #543E9A;

}
p#pomniejszenie_yaremenko{
    color: gray;

}